*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: myFirstFont;
  src: url(Far_Tabssom.ttf);
}
a{
  text-decoration: none;
  color: inherit;
}
.top-bar-menu{
  background-color: #222;
  color:#999;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 58px;
  border-bottom: 1px solid #444;
}
.top-bar-menu .container{
  padding: 12px;
  white-space: nowrap;
  letter-spacing: 1.5px;
}
.top-bar-menu .container ul{
  direction: rtl;
  display:flex;
}
.top-bar-menu .container li{
  padding-left: 22px;
  list-style-type: none;
}
.top-bar-menu .container li:hover{
  color: aliceblue;
}
/* header style*/
header{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 85px 50px;
  grid-template-areas:
  'logo search'
  'nav nav';
  background-color:#222;
  color: #fff;
  position: relative;
}
header .main-nav{
  grid-area: nav; 
  background-color: #fff;
  color: black;
  display: flex;
  justify-content:center;
  align-items:center;
}
.main-nav ul li{
  list-style-type: none;
  display:inline-block;
  padding-right: 10px;
  font-size: 0.85em;
}
.main-nav ul li:hover{
  color:orange;
}

header .submenu{
  position: absolute;
  background-color:aqua;
  width: 100vw;
  height: 300px;
  top:140px;
  visibility: hidden;
  transition: visibility 0.4s;
}
header .submenu:hover{
  visibility: visible;
}
header .left{
  grid-area: search;
  display: flex;
  justify-content:left;
  align-items:center;
}
header .left>div{
  display:inline-block;
  font-size: 0.85em;
  padding-left:11px;
}
header .left>div:hover{
  cursor: pointer;
  color: orange;
}
header .logo a{
  display:block;
  background-color:#222;
  background-image: url("logo.png");
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}
header .logo {
 width: 160px;
 padding-left: 25px;
 padding-right: 25px;
 border-left: 1px solid #444;
 grid-area: logo;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .top-bar-menu .container{
    overflow-x:scroll;
    margin-right: 15px;
    margin-left: 15px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .top-bar-menu .container{
    overflow-x:scroll;
    margin-right: 15px;
    margin-left: 15px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .top-bar-menu .container{
    overflow-x:hidden;
    margin-right: 0;
    margin-left: 0;
  }
  .top-bar-menu .container ul{
    margin-right: 30px;
  }
  .top-bar-menu{
    min-height: 40px;
  }

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  header{
    grid-template-columns: 1fr 6fr 3fr;
    grid-template-rows: 110px;
    grid-template-areas:'logo nav search';
    background-color:#222;
    color: #fff;
  }
  header .main-nav{
    grid-area: nav; 
    background-color: #222;
    color: #fff;
  }
  header .main-nav ul li{
    font-size: 0.9em;
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
